LLM_PROVIDER=openai

# Open AI Config
OPENAI_API_KEY=

# Log Config

LOG_LEVEL=INFO

# Canvas Config

CANVAS_URL=https://instituation.instructure.com/
CANVAS_ACCESS_TOKEN=your_canvas_access_token_here

# WebSocket Server Config
CANVAS_WS_SECRET=your_websocket_secret_here
CANVAS_WS_TOTP_SECRET=your_totp_secret_here